<?xml version="1.0" encoding="utf-8" ?>
<data>
  <bp_endpoint>http://localhost:8080/BPService/bp/</bp_endpoint>
  <map>
    <hex>
      <type>Countryside</type>
      <feature>
        <type>Town</type>
        <name>Ogon</name>
      </feature>
      <x>1</x>
      <y>1</y>
    </hex>
    <hex>
      <type>Mountain</type>
      <x>1</x>
      <y>2</y>
    </hex>
    <hex>
      <type>Countryside</type>
      <x>1</x>
      <y>3</y>
    </hex>
    <hex>
      <type>Countryside</type>
      <x>1</x>
      <y>4</y>
    </hex>
    <hex>
      <type>Countryside</type>
      <x>2</x>
      <y>1</y>
    </hex>
    <hex>
      <type>Mountain</type>
      <x>2</x>
      <y>2</y>
    </hex>
    <hex>
      <type>Countryside</type>
      <x>2</x>
      <y>3</y>
    </hex>
    <hex>
      <type>Countryside</type>
      <x>3</x>
      <y>1</y>
    </hex>
    <hex>
      <type>Countryside</type>
      <x>3</x>
      <y>2</y>
    </hex>
    <hex>
      <type>Countryside</type>
      <x>3</x>
      <y>3</y>
    </hex>
    <hex>
      <type>Countryside</type>
      <x>3</x>
      <y>4</y>
    </hex>
  </map>
</data>
